:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* Colors */
  --color-primary: #3c0629;
  --color-highlight: #59003a;
}

body {
  margin: 0;
  height: 100%;
  padding: 2em 2em 0 2em;
  box-sizing: border-box;
}

html {
  margin: 0;
  height: 100%;
}

#app {
  box-sizing: border-box;
  width: 100%;
  min-width: 720px;
  max-width: 1080px;
  margin: 0 auto;
  height: 100%;
  background: var(--color-primary);
  border-radius: 16px 16px 0 0;
  border: 1px solid var(--color-highlight);
  overflow: hidden;
}
