:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* Colors */
  --var-primary: #3c0629;
  --var-highlight: #59003a;
}

#app {
  box-sizing: border-box;
  width: 100%;
  min-width: 720px;
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
  }
}
